<script type="text/x-template" id="course-list">
    <p v-if="courses.length === 0">has no courses</p>
    <ul>
        <li
                v-for="c in courses"
                :key="c"
                :class="{active: selectedCourse===c}"
                @click="selectedCourse=c"
        >
            {{c}}
        </li>
    </ul>
</script>
<script>
  const CourseList = {
    template: '#course-list',
    data() {
      return {
        selectedCourse: '',
      };
    },
    props: {
      courses: {
        type: Array,
        required: true,
      },
    },
  };
</script>

<div id="app">
    <!--    <input type="text" v-model="course" @keydown.enter="addCourse">-->
    <button :click="addCourse">add course</button>
    <course-list :courses="courses"></course-list>
</div>
<script src="https://unpkg.com/vue@next"></script>
<script>
  Vue.createApp({
    data() {
      return {
        courses: [],
      };
    },
    created() {
      setTimeout(() => {
        this.courses = ['web全栈架构师', 'web高级工程师'];
      }, 3000);
    },
    methods: {
      addCourse() {
        this.courses.push('ai');
      },
    },
  })
  .component('course-list', CourseList)
  .mount('#app');
</script>
